 .hide{
    opacity: 0;
    border: none;
    transition:all 1s ease-in-out;
}

.body{
    background-image:url(https://images6.alphacoders.com/872/thumb-1920-872784.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.toutnoir{
    background-color:rgba(0,0,0,0.6);
}

.cardlivre{
    color: black;
    box-shadow: black;
}

.stext{
    text-shadow:black 3px 1px 10px;
}


.btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
